{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2>{{ .Title }}</h2>
          <p>{{ .Params.subTitle }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h3>Contact Information</h3>
        <p><strong>Address:</strong> {{ .Site.Params.address.address }}</p>
        <p><strong>Email:</strong> <a href="mailto:{{ .Site.Params.address.email }}">{{ .Site.Params.address.email }}</a></p>
        <p><strong>Phone:</strong> <a href="tel:{{ .Site.Params.address.phone }}">{{ .Site.Params.address.phone }}</a></p>
        <p><strong>WhatsApp:</strong> <a href="https://wa.me/{{ .Site.Params.address.phone | replace " " "" | replace "+" "" }}?text=Hi%2C%20I'm%20interested%20in%20booking%20a%20car%20detailing%20service.%20Please%20provide%20more%20details.">Chat with me on WhatsApp</a></p>
        <p><strong>Opening Hours:</strong> {{ .Site.Params.address.openingHours }}</p>
        <p>{{ .Site.Params.address.openingDesc }}</p>
      </div>
    </div>
  </div>
</section>
{{end}}
